.checkout-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.checkout-form-group {
    width: 100%;
}

.checkout-form-control {
    width: 100%;
    margin-bottom: 15px;
}

.checkout-form-control .mat-form-field {
    width: 100%;
}

.checkout-form-submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-form-submit-button {
    padding: 0 50px;
}
